name: Profile Metrics

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate github-metrics.svg
        uses: lowlighter/metrics@latest
        with:
          # Token untuk ambil data (punya kamu)
          token: ${{ secrets.METRICS_TOKEN }}

          # Token untuk commit/push ke repo (lebih reliable)
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          user: gusvinandaellya
          template: classic
          filename: github-metrics.svg

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
